.form {
  display: flex;
  justify-content: center;
}

.form__input {
  max-width: 377px;
}

.form__button {
  width: 140px;
}

.fibPage__fibCalc {
  margin-top: -30px;
  margin-left: auto;
  margin-right: auto;
}
